* {
	margin:0;
	padding:0;
	box-sizing: border-box;

}
body
{
	overflow: hidden;
	height: 100vh;
	background: #fff;
}
section
{
	height: 100vh;
}
span{
	position:absolute;
	pointer-events: none;
	
	background-image: url(alarm_clock.png);
	background-repeat: inherit;
	background-size: 100%;
	animation: animate 5s linear infinite;
	
}
@keyframes animate
{
	0%
	{ 
		transform:scale(0) translateY(0) rotate(0deg); 
		opacity: 1;
	}
	10%
	{
		opacity: 1;

	}
	90%
	{
		opacity: 1;

	}
	100%
	{ 
		transform:scale(-1) translateY(-500%) rotate(360deg);
		opacity: 1; 
	}
}